@charset "UTF-8";
@import url @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url @import url('https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise');
@font-face {
   font-family:'FonteNome';
  /* src: url("../_fonts/ShadowsIntoLight.ttf");*/
    src: url("../_fonts/GrSouvb.ttf");
   
}

body{
  
  background: url("../_imagens/nita-022B.jpg") no-repeat ;
  
 }
.full{
  width: 100%;
  position: relative;
}
input{
  position:;
  border: 2px solid grey;
    border-radius: 5px;
    margin-right: 10px;
    float: right ;
   margin-bottom: px;

}
label{
  font-family: 'Century Gothic', sans-serif;
  color: black;
  padding-left: 1px ;
  margin-bottom: 0.1px;
}

button{
 margin: 60px 60px 60px 40px;
  position: absolute;
   width: 90px;
  height: 30px;

}


div#topo{
  font-family: 'FonteNome', sans-serif;
	margin: 10px 12px 10px 12px;
  position: absolute;
  width: calc(100% - 46px);

  background: rgb(0,0,0) transparent;
  background: rgba(255,255,255,0.8);

}

div#politica{
  font-family: 'FonteNome', sans-serif;
  margin: 10px 12px 10px 12px;
  position: absolute;
  width: calc(100% - 46px);

  background: rgb(0,0,0) transparent;
  background: rgba(255,255,255,0.8);

}
div#esquerda{
  font-family: 'FonteNome', sans-serif;
   margin: 40px 20px 0px 20px;
  display: inline-block;
  float: left;
  border: ;
  color:#000000;
  width: 300px;
  height: 400px;
	position: absolute;
	left: 0px;
	top: 100px;
  border-style: ;

  background: rgb(0,0,0) transparent;
  background: rgba(255,255,255,0.8);
}
div#direita{
  font-family: 'FonteNome', sans-serif;
	margin: 40px 12px 0px 20px;
  position: ;
  display: inline-block;
  float: right;
  border: ;
  color:#000000;
  width: calc(100% - 380px);
  height: 650px;
  position: absolute;
  left: 320px;
  top: 100px;

  background: rgb(0,0,0) transparent;
  background: rgba(255,255,255,0.8);
  }

div#formulario{
  font-family: 'FonteNome', sans-serif;
  margin: 1px 1px 0px 1px;
  position: ;
  margin-bottom: 10px;
  /*display: inline-block;
  float:center ;
  border-radius: 15px  ;
  color:#000000;
  width: calc(100% - 380px);
  height: 650px;
  position: absolute;
  left: 100px;
  top: 100px;*/

  

  }

 

  div#formulario p{
    
  border-radius: 10px;
  background: rgb(0,0,0) transparent;
  background: rgba(255,255,255,0.8);
  }




div#rodape {
  font-family: 'Century Gothic', sans-serif;
	margin: 0px 12px 10px 12px;
	position: absolute;
	top: 800px;
	width: calc(100% - 46px);
	height: 90px;
  background: rgb(0,0,0) transparent;
  background: rgba(255,255,255,0.8);


  //opacity:.6;
 //background-color: #FFFFFF;

     
}
div#rodape h1{

}


}	
footer#rodape  {
     clear : both;
	/* border-top: 1px solid #606060;*/
}	 
footer#rodape p {
    text-align:center; 
   

}	
a:hover{
	color:#CD0000;
	
  }
img#icone{
  position: absolute;
  left: 100px;
  top:5px;
  width:155px;
  height: 70px;
}

img#rodape {
	position: absolute;
	left: 100px;
	top:5px;
  width:100px;
  height: 70px;
}	

#nav {
  display:block;
}

#nav ul {
  list-style:none;
  /*text-transform:uppercase;*/
  position: absolute;  
  top:10px;

  left:-20px;
}

#nav ul {
 list-style: none;
 text-transform: uppercase;
} 

#nav ul li {
  position: relative;
  display: block;
}


#nav ul li a {
 color: #555;
 text-decoration:none;
 margin: 0 1px;
 display: block;

}



#nav li {
  display: ;
  background-color: #8B8989;
  padding: 5px;
  margin: 6px;
  transition:background-color 1s;
  
  }

  #nav li ul {
  display: none;
}

   #nav li:hover {
    background-color:#CFCFCF;
  
  }
  
  
   #nav li:hover ul {
  display: block;    
  position: relative;
  
}
    #nav li:hover li {
  float:none;
  font-size: 10px;
  }

  #nav h1 {
   display: none;
}   

#nav a {
  color:#000000;
  text-decoration: none;
  }
  
#nav a:hover {
   color:#ffffff;
   text-decoration:underline;
   background-color:#8B8989;
}
  





